<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Admin_Regi</servlet-name>
        <servlet-class>Admin_Regi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Login</servlet-name>
        <servlet-class>A_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decripition_10th</servlet-name>
        <servlet-class>Decripition_10th</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Time_Master</servlet-name>
        <servlet-class>Time_Master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descrioption</servlet-name>
        <servlet-class>descrioption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logut</servlet-name>
        <servlet-class>logut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ALogout</servlet-name>
        <servlet-class>ALogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stream</servlet-name>
        <servlet-class>stream</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>r12th</servlet-name>
        <servlet-class>r12th</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finish</servlet-name>
        <servlet-class>Finish</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Regi</servlet-name>
        <url-pattern>/Admin_Regi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Login</servlet-name>
        <url-pattern>/A_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decripition_10th</servlet-name>
        <url-pattern>/Decripition_10th</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Time_Master</servlet-name>
        <url-pattern>/Time_Master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descrioption</servlet-name>
        <url-pattern>/descrioption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logut</servlet-name>
        <url-pattern>/logut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ALogout</servlet-name>
        <url-pattern>/ALogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stream</servlet-name>
        <url-pattern>/stream</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>r12th</servlet-name>
        <url-pattern>/r12th</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finish</servlet-name>
        <url-pattern>/Finish</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
